POSTGRES_DB=clipfactory
POSTGRES_USER=clipfactory
POSTGRES_PASSWORD=clipfactory
BACKEND_PORT=8300
FRONTEND_PORT=3301
NEXT_PUBLIC_API_BASE_URL=http://localhost:8300
CLIPFACTORY_ENVIRONMENT=development
CLIPFACTORY_MAX_UPLOAD_BYTES=2147483648
CLIPFACTORY_MAX_REMOTE_DOWNLOAD_BYTES=2147483648
CLIPFACTORY_MAX_CONCURRENT_UPLOADS=2
CLIPFACTORY_CORS_ORIGINS=["http://localhost:3301"]
